# mcu侧引脚 
NET "led1" LOC = P143 | IOSTANDARD = LVTTL;
NET "led0" LOC = P142 | IOSTANDARD = LVTTL;
# 按钮
NET "clr" LOC = P26;
# 时钟输入信号
NET "clk_in" LOC = P70 | CLOCK_DEDICATED_ROUTE = FALSE;
# ext引脚定义
NET ext(0) LOC = P30 | IOSTANDARD = LVTTL;
NET ext(1) LOC = P33 | IOSTANDARD = LVTTL;
NET ext(2) LOC = P35 | IOSTANDARD = LVTTL;
NET ext(3) LOC = P41 | IOSTANDARD = LVTTL;
NET ext(4) LOC = P44 | IOSTANDARD = LVTTL;
NET ext(5) LOC = P46 | IOSTANDARD = LVTTL;
NET ext(6) LOC = P48 | IOSTANDARD = LVTTL;
NET ext(7) LOC = P51 | IOSTANDARD = LVTTL;
NET ext(8) LOC = P57 | IOSTANDARD = LVTTL;
NET ext(9) LOC = P59 | IOSTANDARD = LVTTL;
NET ext(10) LOC = P62 | IOSTANDARD = LVTTL;
NET ext(11) LOC = P67 | IOSTANDARD = LVTTL;